<%- include('partials/header') %>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="container">
        <h1 class="mt-5 mb-5">About Us</h1>
        <p>Welcome to Gupta Opticals, your one-stop-shop for all your eye care needs. We have been serving our community with top-quality eyewear and exceptional service for years.</p>
        <p>We believe in not just meeting, but exceeding the eye care needs of our customers. At Gupta Opticals, we offer a wide range of products, including a variety of frames, lenses, and contact lenses to suit all budgets and styles.</p>
        <p>With a dedicated team of professionals, we are committed to providing our customers with a pleasant shopping experience. We invite you to explore our store and discover how we can help you see the world clearly.</p>
        <h2>Contact Us</h2>
        <p>Phone: +91-7983311243</p>
        <p>We look forward to serving you!</p>
    </div>

    <%- include('partials/footer') %>

</body>
</html>
