<%- include('partials/header') %>
<link rel="stylesheet" href="styles.css">
<form action="/" method="POST" id="form1">
    <div class="box1">
    <label for="fname"><b>S.No:</b></label><br>
    <input type="text" name="SNo" size="2"><br>
    <label for="fname"><b>First name:</b></label><br>
    <input type="text" id="fname" name="Name"><br>
    <label for="lname"><b>Mobile *</b></label><br>
    <input required type="number" id="lname" name="Mobile"><br>
    <label for="fname"><b>Date</b></label><br>
    <input type="date" id="date" name="date"><br>
    <label for="lname"><b>Address</b></label><br>
    <input type="text" id="address" name="Address">
    <!-- <img class="main" src="/images/a.jpg"> -->
    </div>
    <div style="overflow-x:auto;">      
        <table class="table" >
          <tr>
              <th></th>
              <th>SPH</th>
              <th>CYL</th>
              <th>AXIS</th>
              <th>ADD</th>
              <th>VISION</th>
          </tr>
          <tr>
              <TD><b>Right  </b></TD>
              <td>
                  <input type="text" name="Right_SPH" class="table1">
              </td>
              <td>
                  <input type="text" name="Right_CYL" class="table1">
              </td>
              <td>
                  <input type="text" name="Right_AXIS" class="table1">
              </td>
              <td>
                  <input type="text" name="Right_ADD" class="table1">
              </td>
              <td>
                  <input type="text" name="Right_VISION" class="table1">
              </td>
          </tr>
      
          <tr>
              <TD><b>Left  </b></TD>
              <td>
                  <input type="text" name="Left_SPH" class="table1">
              </td>
              <td>
                  <input type="text" name="Left_CYL"class="table1" >
              </td>
              <td>
                  <input type="text" name="Left_Axis" class="table1">
              </td>
              <td>
                  <input type="text" name="Left_ADD" class="table1">
              </td>
              <td>
                  <input type="text" name="Left_VISION" class="table1">
              </td>
          </tr>
      </table>
      </div>  
      <div style="overflow-x:auto;" id="table">   
      <table class="table">
        
            <tr>        
                <th>S.No</th>
                <th>Items</th>
                <th>Items Description</th>
                <th>Qty.</th>
                <th>Total</th>
            </tr>
            <tr>
                
                <td>
                    <input type="text" name="Items" >
                </td>
                <td>
                    <input type="text" name="Description" >
                </td>
                <td>
                    <input type="text" name="Qty" >
                </td>
                <td>
                    <input type="text" name="Total" >
                </td>
            </tr>
      </table>
      </div>
      <!-- <form action="/submit" method="POST"> -->
    
      <button class="btn-primary" type="submit"><b>Save</b></button><br>
      
      
  </form>


  <script src="dynamic.js"></script>
