<%- include('partials/header') %>

<link rel="stylesheet" href="styles.css">


<form action="/" method="POST" id="form1">
    <div class="box1">
    <label for="fname"><b>First name:</b></label><br>
    <input type="text" id="fname" name="name"><br>
    <label for="lname"><b>Mobile</b></label><br>
    <input type="number" id="lname" name="Mobile">
    </div>
    <div style="overflow-x:auto;">      
        <table class="table">
          <tr>
              <th></th>
              <th>SPH</th>
              <th>CYL</th>
              <th>AXIS</th>
              <th>ADD</th>
              <th>VISION</th>
          </tr>
          <tr>
              <TD><b>Right  </b></TD>
              <td>
                  <input type="text" name="Right_SPH" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>
      
          <tr>
              <TD><b>Left  </b></TD>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>
              
          
      </table>
      </div>
      
      <div style="overflow-x:auto;">
      
      <table class="table">
          <tr>
              
              <th>S. No.</th>
              <th>Items</th>
              <th>Items Description</th>
              <th>Qty.</th>
              <th>Total</th>
          </tr>
          <tr>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>      
          
      </table>
      </div>
      <button class="btn btn-primary" type="submit">Button</button>
      
      
  </form>