<form action="/" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="name"><br>
    <label for="lname">Mobile</label><br>
    <input type="number" id="lname" name="Mobile">

      <table>
          <tr>
              <th></th>
              <th>SPH</th>
              <th>CYL</th>
              <th>AXIS</th>
              <th>ADD</th>
              <th>VISION</th>
          </tr>
          <tr>
              <TD><b>Right  </b></TD>
              <td>
                  <input type="text" name="Right_SPH" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>
      
          <tr>
              <TD><b>Left  </b></TD>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>
              
          
      </table>
      </div>
      
      <div class="formg2">
      
      <table>
          <tr>
              
              <th>S. No.</th>
              <th>Items</th>
              <th>Items Description</th>
              <th>Qty.</th>
              <th>Total</th>
          </tr>
          <tr>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
              <td>
                  <input type="text" name="company" >
              </td>
          </tr>      
          
      </table>
      </div>
      
      <input type="submit" id="btn-submit">
      
      
  </form>