<%- include('partials/header') %>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles.css">
  </head>
  <body>
<form action="/" method="POST" id="form1">
    <div class="box1">
    <label for="fname"><b>S.No:</b></label><br>
    <input type="text" name="SNo" size="2"><br>
    <label for="fname"><b>First name:</b></label><br>
    <input type="text" id="fname" name="Name"><br>
    <label for="lname"><b>Mobile *</b></label><br>
    <input required type="number" id="lname" name="Mobile"><br>
    <label for="fname"><b>Date</b></label><br>
    <input type="date" id="date" name="date"><br>
    <label for="lname"><b>Address</b></label><br>
    <input type="text" id="address" name="Address">
    
    </div>
    <div style="overflow-x:auto;">      
        <table class="table" >
          <tr>
              <th></th>
              <th>SPH</th>
              <th>CYL</th>
              <th>AXIS</th>
              <th>ADD</th>
              <th>VISION</th>
          </tr>
          <tr>
              <TD><b>Right  </b></TD>
              <td>
                  <input autofocus type="text" name="Right_SPH" class="table1">
              </td>
              <td>
                  <input autofocus type="text" name="Right_CYL" class="table1">
              </td>
              <td>
                  <input autofocus type="text" name="Right_AXIS" class="table1">
              </td>
              <td>
                  <input autofocus type="text" name="Right_ADD" class="table1">
              </td>
              <td>
                  <input autofocus type="text" name="Right_VISION" class="table1">
              </td>
          </tr>
      
          <tr>
              <TD><b>Left  </b></TD>
              <td>
                  <input autofocus type="text" name="Left_SPH" class="table1">
              </td>
              <td>
                  <input autofocus type="text" name="Left_CYL"class="table1" >
              </td>
              <td>
                  <input autofocus type="text" name="Left_Axis" class="table1">
              </td>
              <td>
                  <input autofocus type="text" name="Left_ADD" class="table1">
              </td>
              <td>
                  <input autofocus type="text" name="Left_VISION" class="table1">
              </td>
          </tr>
      </table>
      </div>  
      <div style="overflow-x:auto;" id="table">   
      <table class="table">
        
            <tr>        
                <th>Items</th>
                <th>Items Description</th>
                <th>Qty.</th>
                <th>Total</th>
            </tr>
            <tr>
                
                <td>
                    <input autofocus type="text" name="Items" >
                </td>
                <td>
                    <input autofocus type="text" name="Description" >
                </td>
                <td>
                    <input autofocus type="text" name="Qty" >
                </td>
                <td>
                    <input autofocus type="text" name="Total" >
                </td>
            </tr>
      </table>
      </div>
      <!-- <form action="/submit" method="POST"> -->
    
      <button class="btn-primary" type="submit"><b>Save</b></button><br>
      
      
  </form>


  </body>
  </html>