
	<h1>Uploaded Images</h1>
	<div>
		<% items.forEach(function(image) { %>
		<div>
			<div>
				
				<div>
					<h5><%= image.name %></h5>
					
<p><%= image.desc %></p>



				</div>
			</div>
		</div>
		<% }) %>
	</div>
</body>

</html>
