
body {
    background-color: #2F3C7E;
  }
  
  /* .centered {
      padding-top: 200px;
      text-align: center;
  }
  
  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  } */

  table, th, td {
    border: 1px solid;
  }

  #form1 {
    padding: 25px;
    
  }
  .box1{
    padding: 10px;
  }

  .box1,.table{
    background-color: #FBEAEB;
    margin-bottom:10px

  }

  .btn btn-primary{
    color: #2F3C7E;

  }

  /* zebra striping */



tbody tr:nth-child(even) {
  background-color: #eccbdd;
}



table {
  background-color: #ff33cc;
}

.form2table{
  margin-bottom: 100px;
}

h4{
  text-align: center;
  color: #eccbdd;
}

h3{
  color:#eccbdd
}

  